@model Persona.IdentityServer.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}
<div class="row justify-content-md-center h-100 align-items-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <img src="~/images/favicon.svg" class="mr-3" alt="logo" width="64" height="64" />
                    <div class="media-body">
                        <h1 class="card-title mt-1">Persona</h5>
                    </div>
                </div>

                <form
                    asp-controller="Account"
                    asp-action="Login"
                    asp-asp-route-returnurl="@ViewData["ReturnUrl"]"
                    method="POST"
                    class="form-horizontal">

                    <input type="hidden" asp-for="ReturnUrl" />

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input" type="checkbox">
                        <label asp-for="RememberMe" class="form-check-label">
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
